src/UF04/P02Dao_Dao/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data" type="dataType"/>
  <xs:complexType name="facturaType">
    <xs:sequence>
      <xs:element type="xs:string" name="dni_cliente"/>
      <xs:element type="xs:string" name="id_producto"/>
      <xs:element type="xs:string" name="precio_unidad"/>
      <xs:element type="xs:string" name="precio_total"/>
      <xs:element type="xs:string" name="iva"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productosType">
    <xs:sequence>
      <xs:element type="productoType" name="producto" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clientesType">
    <xs:sequence>
      <xs:element type="clienteType" name="cliente" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadosType">
    <xs:sequence>
      <xs:element type="empleadoType" name="empleado" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="precio"/>
      <xs:element type="xs:string" name="stock"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleadoType">
    <xs:sequence>
      <xs:element type="xs:string" name="id"/>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellidos"/>
      <xs:element type="xs:string" name="sueldo"/>
      <xs:element type="xs:string" name="anyos_trabajados"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="clientesType" name="clientes"/>
      <xs:element type="empleadosType" name="empleados"/>
      <xs:element type="facturasType" name="facturas"/>
      <xs:element type="productosType" name="productos"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="facturasType">
    <xs:sequence>
      <xs:element type="facturaType" name="factura" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clienteType">
    <xs:sequence>
      <xs:element type="xs:string" name="dni"/>
      <xs:element type="xs:string" name="nombre"/>
      <xs:element type="xs:string" name="apellido"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>